<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<style>-->
        <!--body{-->
            <!--background-color: burlywood;-->
                    <!--}-->
        <!--#full{-->
            <!--width: 75%;-->
            <!--margin: 0 auto;-->
            <!--padding: 2%;-->
            <!--background-color: coral;-->
        <!--}-->
    <!--</style>-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blog">Blog
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>
<div id="full">
    <header>
     <hi>About the Program : </hi>
    </header>
</br>
<p>The Java Programmer bootcamp offers a task-oriented, cost effective approach to learning Java technology. Our unique approach combines on-demand streaming with personal facilitation and comprehensive hands-on exercises to assure successful training and competence in the IT workplace Our classes are designed to be 50% lecture and 50% hands on exercises. An facilitator will be assigned to you to assist you in completing lab exercises and to help with any questions about the course content.

    Students who lack industrial programming experience may elect to attend the introductory Learning to Program with Java course at no additional charge.

    Required Courses:</p>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <footer>
        <p><a href="/"><b>Return to Home</b></a></p>
    </footer>
</div>
</body>
</html>