<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program Design and Algorithm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="img/Style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-primary" href="/blog1">GitHub</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-primary" href="#">Program Design & Algorithms<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-primary" href="/blog3">Core java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-primary" href="/blog4">Object-oriented Java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-primary" href="/blog5">HTML/CSS/Bootstrap</a>

            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 mx-auto">
            <br>
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Euclid%27s_algorithm_Inelegant_program_1.png"
                 alt="Flowchart" width=auto height=70% id="pic">
        </div>
        <div class="col-lg-6 mx-auto">
            <br/>
            <h1>Program Design & Algorithm</h1>
            </br>
            <br>
            <p>An Algorithm is a sequence of steps to solve a problem. Design and Analysis of Algorithm is very
                important for
                designing algorithm to solve different types of problems in the branch of computer science and
                information
                technology. This tutorial introduces the fundamental concepts of Designing Strategies, Complexity
                analysis of
                Algorithms, followed by problems on Graph Theory and Sorting methods. This tutorial also includes the
                basic concepts
                on Complexity theory.</p>
        </div>
    </div>
</div>
<footer>
    <p class="text-center"><a href="/blog2-1" class="text-white bg-dark"><b>View More</b></a></p>
</footer>
</body>
</html>