<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core Java</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="img/Style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog1">GitHub<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog2">Program Design & Algorithms</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog3">Core java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog4">Object-oriented Java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog5">HTML/CSS/Bootstrap</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           <h1>Variables</h1>
            <p>Programs would be pretty boring if the only thing you could do was print things on the screen. We would like our programs to be interactive. Variables enable our program to save and retrieve data while the program is being used.</p>
            <ul>
                <li>A variable stores a value that can change as a program executes.</li>
                <li>Before you can use a variable, you must declare its data type and initialize it by assigning a value to it</li>
                <li>To declare and initialize more than one variable for a single data type in a single statement, use commas to separate the assignments.</li>
                <li>To identify float values, you must type an f or F after the number. To identify long values, you must type an l or L after the number.</li>
            </ul>
            <p>Variables: If you paid attention in Algebra class you may recall the concept of variable. An equation like 2x + 13 = 25 allows us to find the value of x. What is x? It's a variable that holds a value. Programming languages have variables, too. The concept is the same:</p>

        </div>
    </div>
</div>
<footer>
    <p class="text-center"><a href="/blog3" class="text-white bg-dark"><b>Previous</b></a></p>
</footer>
</body>
</html>