<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Course Pace Options
    At Flatiron School, we know all students are different, so we offer three different, personalized course paces designed to give you the perfect balance of flexibility and structure to ensure your success.Paired with our proprietary online learning platform, Learn.co, and individualized support from an Educational Coach, all students have access to a personalized learning experience. Choose from three different program options, each tailored to today’s online learner.

    </p>
</body>
</html>