<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="img/Style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog1">GitHub<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog2">Program Design & Algorithms</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog3">Core java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog4">Object-oriented Java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog5">HTML/CSS/Bootstrap</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" id="words">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <h3></h3>
            <br/>
            <img src="" alt="" height="250px" width="400px"
                 id="pic">
            <br/>
            <p>Here are some of the basic building blocks of Objected-Oriented Programming that you will become familiar with:

                class
                A collection of related fields (instance and class variables) and methods that have one purpose.
                instance variable (aka field variable or member variable
                An instance variable is a variable that is defined in a class, but outside of a method. There is one copy of the variable for every instance (object) created from that class.

                A common problem is trying to reference an instance variable from a static method. A static method (eg, main) can only reference static variables in its own class (or its own local variables).
                class variable (aka static variable)
                A class variable or static variable is defined in a class, but there is only one copy regardless of how many objects are created from that class. It's common to define static final variables (constants) that can be used by all methods, or by other classes. Color.blue is an example of a static final variable.
                constructor
                A constructor is a method with the same name as the class. When an object is created, the constructor for that class is called. If no constructor is defined, a default constructor is called. It's common to have multiple constructors taking different numbers of parameters. Before a constructor is executed, the constructor for the parent class is called implicitly if there is no parent constructor called explicitly on the first line.
                override (applies to methods)
                If a subclass redefines a method defined in a superclass, the method in the superclass is overridden.  The "super" keyword is how you refer to the overridden parent method. There is no way to explicitly call the "grandparent's" method if it was overridden by the parent class.
                overload (applies to methods)
                A method in a class is overloaded if there is more than one method by the same name. If the same name is used, the methods must different in the number and/or types of the parameters so that there is no confusion. This really has nothing to do with classes, only methods.
                abstract class
                A class which doesn't define all it's methods is called an abstract class. To be useful, there must be a subclass which defines the missing methods. The "You must declare this class abstract" error message from the Java compiler is rather misleading. This usually means that you declared your class to implement an interface, but failed to write all required methods -- or more commonly that there's a spelling error in a method header.
            </p>
        </div>
    </div>
</div>
<footer>
    <p class="text-center"><a href="/blog4" class="text-white bg-dark"><b>Previous</b></a></p>
</footer>
</body>
</html>




