<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dedicated to Adult Learners and Working Professionals
    At the GW College of Professional Studies, we believe that empowering working professionals is an important driver for prosperity in the global economy. We offer diverse academic programs in a flexible, innovative learning environment that takes full advantage of the university’s deep relationships in the Washington, D.C. area. We arm our graduates with a professional agility that is critical to success and leadership in today’s career landscape and crucial for making a difference in the world.</p>
</body>
</html>