<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="img/Style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-info" href="#">GitHub<span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">
                <a class="btn btn-info" href="/blog2">Program Design & Algorithms</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info" href="/blog3">Core java</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info" href="/blog4">Object-oriented Java</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-info" href="/blog5">HTML/CSS/Bootstrap</a>

            </li>
        </ul>
    </div>
</nav>
<div class="container text-light" id="words">
    <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
            <h1>Git Hub</h1>
            <br/>
            <p>After using GitHub by yourself for a while, you may find yourself wanting to contribute to someone else’s project. Or maybe you’d like to use someone’s project as the starting point for your own. This process is known as forking.</p>
            <p>Creating a “fork” is producing a personal copy of someone else’s project. Forks act as a sort of bridge between the original repository and your personal copy. You can submit Pull Requests to help make other people’s projects better by offering your changes up to the original project. Forking is at the core of social coding at GitHub.</p>
            <p>For this tutorial, we’ll be using the Spoon-Knife project (Links to an external site.)Links to an external site., a test repository that’s hosted on GitHub.com</p>
            <p>To fork the Spoon-Knife project to your local directory follow these steps:</p>
            <ul>
                <li>Browse to the Spoon-Knife project on GitHub</li>
                <li>Click the Fork button</li>
                <li>You will now be directed to a copy of the repository in your GitHub account</li>
                <li>You can clone this repository to your Windows PC by running the following command from the Git shell:</li>
            </ul>
            <align-center><p>git clone https://github.com/your GitHub user name/Spoon-Knife</p></align-center>
            <p>Note that the above url is simply the url from your GitHub account for the Spoon-Knife repository.</p>
            <p>You now have a local copy of another repository and you can view and edit it as you wish. Changes you make to the fork will have not impact on the original project. Were you to decide to make a contribution to the original project then you would want to contact that project's owner and find out how to contribute code.</p>
        </div>
    </div>
</div>
<footer>
    <p class="text-center"><a href="/blog1-1" class="text-white bg-dark"><b>View More</b></a></p>
    <br/>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
