<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>1. Program design and
    development: the language
    we use
    Language influences what we can accomplish. Having a common understanding of the
    terms that we use in program design and development can contribute to successful
    processes and outcomes. Terms such as organization, program, system, or intervention
    are often used inter-changeably. However, each word may have a slightly different
    interpretation, so it becomes important to clarify definitions. The following definitions
    will be used throughout the program design and development resources.
    Glossary of terms
    Adaptive capacity – the ability to learn from and respond to changes in the internal and
    external environment.
    Anti-oppression practice – a practice that acknowledges oppression in societies, economies,
    cultures, and groups, and takes action to remove or negate the influence of that oppression.
    Best practice – a practice that has been shown, through a
    rigorous process of evaluation, to be effective in improving
    outcomes for a particular population.
    Context – the broader organizational, social, economic,
    and political environment in which a program operates. This
    includes program relationships, capacity, and other factors
    outside of the control of the program. Some contextual factors
    include community needs and assets, community economic,
    social and demographic characteristics, governmental policy,
    and the presence of similar or complementary programs.
    Diversity and inclusion – involves respecting and embracing diverse abilities, perspectives,
    identities and experiences. It includes the promotion of equity – welcoming, celebrating and
    valuing the contributions of all.1
    Emerging practice – a practice, based on a theory that is being tested through a process of
    evaluation, to determine whether it is effective in improving outcomes for a particular population.
    Evaluation – the systematic assessment of an initiative, program or policy, including the collection
    and analysis of qualitative and/or quantitative data. It not only looks at whether the program is
    achieving its intended objectives, but also explores why or why not and the implication</p>

</body>
</html>