<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core Java</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="img/Style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog1">GitHub<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog2">Program Design & Algorithms</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog3">Core java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog4">Object-oriented Java</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-info" href="/blog5">HTML/CSS/Bootstrap</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>An algorithm represents the ordered sequence of steps required to solve a problem. Following the steps will always result in the solution. When a computer is to solve a particular problem, the steps to the solution get communicated to the computer. This makes the study of algorithms an important part of computer science.</p>
            <p>The algorithm gets translated to a programming language, such as Java. The Java compiler will translate the program into instructions the computer can execute. This produces the required output from the given input.</p>
            <p>But translating the algorithm to computer code is not straight forward. To simplify the process, translate the algorithm into pseudocode. The pseudocode will then more easily translate into Java or another programming language.</p>

        </div>
    </div>
</div>
<footer>
    <p class="text-center"><a href="/blog3" class="text-white bg-dark"><b>Previous</b></a></p>
</footer>
</body>
</html>