<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="img/Style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">Blog</a>
<button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="btn btn-info" href="/blog1">GitHub<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" href="/blog2">Program Design & Algorithms</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" href="/blog3">Core java</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" href="/blog4">Object-oriented Java</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" href="/blog5">HTML/CSS/Bootstrap</a>
        </li>
    </ul>
</div>
</nav>

<div class="container" id="words">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <h3>Git Overview</h3>
            <br/>
            <img src="https://www.cs.swarthmore.edu/~newhall/unixhelp/git.jpg" alt="git explanation" height="250px" width="400px"
                 id="pic">
            <br/>
            <p>You will either use an existing remote master git repository (repo) or create a remote master repository
                on our system for your project. You and your partner(s) each checkout (clone) a private local copy of
                the remote master repo.</p>

            <p>You then each add and commit changes to your local private cloned copies. Local changes can be
                shared with your partner by pushing them to the master repo. Your partner will then pull your pushed
                changes from the remote master into their local repo. Git automatically merges changes pulled from the
                master into
                the local repo's files.</p>

            <p>Any changes committed to a git repo can be recovered, and a version of files from any commit in the
                commit history can be recovered: commit often as you work on a project (and to push fairly often
                too).</p>
        </div>
    </div>
</div>
<footer>
    <p class="text-center"><a href="/blog1" class="text-white bg-dark"><b>Previous</b></a></p>
</footer>
</body>
</html>